.question {
    color: lightpink;
    padding-top: 50px;
    padding-bottom: 50px;
}

.result {
    color: lightpink;
    display:flex;
    justify-content: center;
}

.option {
    font-size: 20px;
    color: lightblue;
    display:flex;
    justify-content: center;
}

body {
    background: white url("images/background.jpg") no-repeat;
    background-size:cover;
    font-family: fantasy;
}

ul {
    font-size: 26px;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: lightgreen;
    padding-bottom: 20px;
}